.cart-container{
	display: table;
    width: 100%;
    padding-top: 75px;
    .cart-items{
    	display: table-cell;
    	width: 50%;
    	padding: 20px;
    	.item{
    		padding: 15px;
    		border: 1px solid lightgray;
    		margin-bottom: 20px;
    		border-top-left-radius: 7px;
    		border-top-right-radius: 7px;
    		border-bottom: 5px solid #00bcd4;
    		.item-title{
    			font-size: 1.45rem;
    			font-weight: bold;
    			text-transform: uppercase;
    			color: #00bcd4;
    		}
    	}
    }
    .cart-to-order{
    	display: table-cell;
    	width: 40%;
    	vertical-align: top;
    	padding-top: 120px;
    	.deliverable{
    		border: 1px solid lightgray;
    		text-align: center;
    		border-radius: 5px;
    		width: 55%;
	    	margin: 0px auto;
	    	.total-amt{
	    		font-weight: bold;
	    		color: gray;
	    		font-size: 1.1rem;
	    	}
    	}
    	.place-order{
    	 	width: 20%;
    		text-align: center;
    		background-color: #00bcd4;
    		border-radius: 5px;
    		padding: 10px;
    		margin: 30px auto;
    		color: white;
    		font-weight: bold;
    	}
    }
}

.orderDiv{
    border: 1px solid lightgray;
    margin-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #00bcd4;
    display: table;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 15px;
    padding: 20px;
    width: 90%;
}
