.borderedDiv1{
    display: inline-block;
    border-style: ridge;
    margin-right: 40px;
    width: 100%;
}
.addItemButton{
  width: 10%;
  text-align: center;
  background-color: #00bcd4;
  border-radius: 5px;
  padding: 10px;
  margin: 30px auto;
  color: white;
  font-weight: bold;
  color: black; 
  padding: 10px;
  margin: 0px 0px 0px 80%;
}