.profilePaper {
  display: inline-block;
  margin: 16px 32px 16px 0
}
.profileSideMenu {
  padding: 16px 0px;
  display: table-cell;
  width: 256px;
}
.saveButton {
	text-align: right;
}
.appBar {
	height: 60px;
	background-color: rgba(0,188,212,1);
}
.tabSpan{
    display: inline-block;
    margin: 10px 120px 10px 10px;
}
.borderedDiv{
    display: inline-block;
    border-style: ridge;
    margin-right: 40px;
}
.borderedDivNoInline{
    border: 1px solid black;
    margin-right: 40px;
}
.homeButton{
  display: inline-block;
  text-align: left;
}
.appBarButton{
  text-align: right;
  display: inline-block;
  margin: 10px 10px 10px 80%;
}
.cartButton{
  text-align: right;
  display: inline-block;
  margin: 10px 10px 10px 2%;
}
.logout-button{
  text-align: right;
  display: inline-block;
  margin: 10px 10px 10px 2%;
}